:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-font-color: #ffffff;
  --accent-color: #2196f3;
  --filter-button-color: #f5f4fa;
  --footer-font-color: #2f303a;
}

/*------------------------GENERAL-----------------------*/

body {
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-font-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-accent {
  color: var(--accent-color);
}
.footer-accent {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/*------------------------CONTAINER-----------------------*/

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------------------------HEADER-----------------------*/

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-right: 93px;
}

.head {
  color: var(--primary-text-color);
}

.nav-menu{
  display: flex;
}



.nav-list {
  display: flex;
}

.nav-list:last-child{
  margin-right: 331px;
}

.nav-list a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 10px 0 10px 0;
  margin-left: auto;
}


.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

a.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-contacts a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 10px 0 10px 0;

  color: var(--secondary-text-color);
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

/*------------------------BANER-----------------------*/
.banner-bg {
  background-color: #2f303a;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  max-width: 696px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-font-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.banner-button { 
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  border: none;
  display: flex;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 11px 32px 11px 32px;

  color: var(--primary-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
}

/*------------------------FEATURES-----------------------*/

.features{
  padding-bottom: 0;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
  padding-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.features-list {
  display: flex;
}
.features-list li:not(:last-child) {
  margin-right: 30px;
}

.features-list-item {
  display: block;
  width: 270px;
}

/*------------------------TASK-----------------------*/

.task-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.task-list {
  display: flex;
}

.task-list-item {
  display: block;
}

.task-list-item:not(:last-child) {
  margin-right: 30px;
}

/*------------------------TEAM-----------------------*/

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin: 0 auto;
}

.team-list-item {
  display: block;
  background-color: var(--primary-font-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
  box-shadow: 0 1px 2px #757575;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  padding: 30px 0 10px 0;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  padding-bottom: 30px;
  text-align: center;
}

/*------------------------FOOTER-----------------------*/

/* .footer {
  margin: 0 auto;
  width: 1200px; */

.footer-bg {
  background-color: var(--footer-font-color);
  margin: 0 auto;
  padding: 60px 15px;
}

.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-font-color);
}

.footer-list {
  margin: 0 auto;
  width: 1200px;
  padding-top: 20px;
}

.footer-list-item:not(:last-child){
  margin-bottom: 9px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  letter-spacing: 0.03em;

  color: var(--primary-font-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*------------------------PORTFOLIO.HTML-----------------------*/
/*------------------------FILTER-----------------------*/

.main-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-filter {
  display: block;
}

.main-list-filter {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}

.main-list-item {
  margin-right: 8px;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--filter-button-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.main-button:focus,
.main-button:hover {
  color: var(--filter-button-color);
  background-color: var(--accent-color);
}

.main-list{
  flex-wrap: wrap;
  display: flex;
}

.main-link-item{
  margin-right: 30px;
  margin-bottom: 30px;
}

.main-link-item:nth-child(3n){
  margin-right: 0;
}

.list-item-desc{
  padding: 20px 24px;
}

.main-list .item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
  padding-bottom: 4px;
}

.item-text {
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
